@{
    ViewData["Title"] = "AllCare Doctors";
}

@section HomeStyle {
    <link rel="stylesheet" href="~/css/homepage.css" />
}

<div class="text-center">
<<<<<<< HEAD
=======
    <div class="container">
        <div class="content">
            <h1>RAISING HEALTH FOR <span>MORE NEW YORKERS</span> THAN ANYONE</h1>
            <p>With more experts, deeper insights, and newer breakthroughs, we’re solving the greatest challenges in health care.</p>
            <a href="#" class="cta">Find a doctor</a>
        </div>
        <div class="bigimage">
            <img src="~/images/doctor_image.jpg" alt="Health Promotion">
        </div>
    </div>
    
    <div class="container">
    <div class="text-box">
        <img src="https://img.freepik.com/free-photo/female-doctor-wearing-white-coat-front-view_23-2149844575.jpg?t=st=1736872781~exp=1736876381~hmac=3fd88e7d3a6ced7696e8a04bc640bb4b358b12f3b26be2ca9207a5d1f4250cdc&w=1380" alt="Dr. Aaron McGregor" class="image">
        <p>Dr. Samantha Rodriguez <br>
            Cardiology
        </p>
    </div>
    <div class="text-box">
        <img src="https://images.unsplash.com/photo-1612276529731-4b21494e6d71?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZG9jdG9yJTIwcG9ydHJhaXR8ZW58MHx8MHx8fDA%3D" alt="Dr. Ali Ahmed" class="image">
        <p>Dr. Ali Ahmed <br>
            Neurology
        </p>
    </div>
    <div class="text-box">
        <img src="https://media.istockphoto.com/id/1346124900/photo/confident-successful-mature-doctor-at-hospital.webp?a=1&b=1&s=612x612&w=0&k=20&c=MTnBTwihgkfouassBh5U-W_G3S2igEA4ASIBhdJ_fP8=" alt="Dr. Mario Russo" class="image">
        <p>Dr. Mario Russo <br>
            Internal Medicine
        </p>
    </div>
    <div class="text-box">
        <img src="https://media.istockphoto.com/id/1730222050/photo/photo-of-doctor-lady-smile-looking-at-camera-wear-stethoscope-white-uniform-isolate-white.webp?a=1&b=1&s=612x612&w=0&k=20&c=EJicjdiybtUv_1uAWa7DMqWZTcpXcEw_icWcbtgu4O4=" alt="Dr. Sanjita Patel" class="image">
        <p>Dr. Sanjita Patel <br>
            Gynecology
        </p>
    </div>
    </div>

>>>>>>> origin/main
</div>