@{
    ViewData["Title"] = "AllCare Doctors";
}

@section HomeStyle {
    <link rel="stylesheet" href="~/css/homepage.css" />
}

<style>
    .container {
        max-width: 1200px;
        margin: auto;
    }
    .container2 {
        max-width: 1200px;
        margin: auto;
    }
</style>

<div class="text-center">

    <div class="container">
        <div class="content">
            <h1>RAISING HEALTH FOR <span>MORE NEW YORKERS</span> THAN ANYONE</h1>
            <p>With more experts, deeper insights, and newer breakthroughs, we’re solving the greatest challenges in health care.</p>
            <a href="#" class="cta">Find a doctor</a>
        </div>
        <div class="bigimage">
            <img src="~/images/doctor_office.webp" alt="Health Promotion">
        </div>
    </div>
    
    <div class="container-lower">
        
        <div class="text-box">
            <img src="~/images/dr.sam.avif" alt="Dr. Samantha Rodriguez" class="image">
            <p>Dr. Samantha Rodriguez <br>
                Cardiology
            </p>
        </div>
        <div class="text-box">
            <img src="~/images/dr.ali.avif" alt="Dr. Ali Ahmed" class="image">
            <p>Dr. Ali Ahmed <br>
                Neurology
            </p>
        </div>
        <div class="text-box">
            <img src="~/images/dr.mario.webp" alt="Dr. Mario Russo" class="image">
            <p>Dr. Mario Russo <br>
                Internal Medicine
            </p>
        </div>
        <div class="text-box">
            <img src="~/images/dr.sanjita.webp" alt="Dr. Sanjita Patel" class="image">
            <p>Dr. Sanjita Patel <br>
                Gynecology
            </p>
        </div>  
    </div>
</div>