

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor1</title> 
</head>
<body>
<div class="container">
    <h1>Dr. Paarul Nayyar</h1>
    <img src="~/images/NDoctor1.jpg" class="img" width="310px" height="300px"/>
</div>
<div class="content">
    <p>
        Dr. Paarul Nayyar is a highly skilled and dedicated nutritionist with a passion for promoting holistic well-being through personalized nutrition plans. With a deep understanding of the intricate relationship between diet and health, Dr. Nayyar specializes in helping individuals achieve their wellness goals by providing evidence-based advice tailored to their unique needs.
    </p>
    <p>
        With a commitment to empowering her clients, she blends scientific knowledge with practical solutions, ensuring that each person receives the guidance they need to lead a healthier, more balanced life. Whether it's managing weight, improving digestion, or boosting overall vitality, Dr. Nayyar is a trusted expert who provides compassionate, sustainable, and impactful nutrition support.
    </p>
    <h2>Contact Details</h2>
    <p><strong>Phone:</strong> (929)-565-6567<br>
        <strong>Email:</strong> dr.Paarul@allcaredoctors<br>
        <strong>Clinic Address:</strong>XYZ NY, USA</p>
</div>
</body>
</html>
