

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor2</title>
    <link rel="stylesheet" href="~/css/NDoctor2.css">
</head>
<body>
<div class="container">
    <h1>Dr. Eve Smith</h1>
    <img src="~/images/NDoctor2.jpg" class="img" width="310px" height="300px"/>
</div>
<div class="content">
    <p>
        Dr. Eve Smith is a highly respected nutritionist and health expert known for her comprehensive approach to well-being. With a deep commitment to helping individuals achieve optimal health, Dr. Smith combines her extensive knowledge in nutrition science with a compassionate, client-centered approach. She specializes in addressing a wide range of health concerns, from weight management and metabolic health to chronic disease prevention and lifestyle optimization.
    </p>
    <p>
        Dr. Smith takes the time to understand each client's unique needs, offering evidence-based, sustainable nutrition plans that align with their individual goals. Her holistic methodology not only focuses on the physical aspects of nutrition but also emphasizes the importance of mental and emotional health, helping clients cultivate a balanced and fulfilling life.
    </p>
    <h2>Contact Details</h2>
    <p><strong>Phone:</strong> (929)-000-1111<br>
        <strong>Email:</strong> dr.Eve@allcaredoctors<br>
        <strong>Clinic Address:</strong>Hicksville NY, USA</p>
</div>
</body>
</html>