<header>
    <nav class="navbar">
        <!-- Left Section -->
        <div class="logo-container">
            <img src="~/images/DocIMG/ACD_logo.jpg" alt="Logo" asp-append-version="true">
            <a href="/Home/Index.cshtml">AllCare Doctors</a>
        </div>

       
        <section class="nav-links">
            <a asp-controller="Home" asp-action="Index">Function</a>
            
            <div class="dropdown">
                <button class="dropbtn" asp-controller="" asp-action="">Function</button>
            </div>

            
            <div class="dropdown">
                <button class="dropbtn">Function</button>
            </div>
            
            <div class="dropdown">
                <button class="dropbtn">Function</button>
            </div>
            
        </section>
        
    </nav>
</header>