<footer>
    <div class="footer-container">
        <!-- About Us Section -->
        <div class="footer-section">
            <h3>Clinic Support</h3>
            <ul>
                <li>Email: support@allcaredoctors.com</li>
                <li>Phone: +1-800-555-1234</li>
            </ul>
        </div>

        <!-- Contact Us Section -->
        <div class="footer-section">
            <h3>Email Management</h3>
            <ul>
                <li>management@allcaredoctors.com</li>
            </ul>

        </div>

        <!-- FAQ Section -->
        <div class="footer-section">
            <h3>Lab Numbers</h3>
            <ul>
                <li>Hicksville: +1-800-555-1234</li>
                <li>Bronx: +1-800-555-1234</li>
            </ul>
        </div>
    </div>
</footer>