@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="~/css/post_log_in.css">
</head>
<body>
    <div class="header">Welcome $user</div>
    <div class="navbar">
        <div class="nav-item">Function 1</div>
        <div class="nav-item">Function 2</div>
        <div class="nav-item">Function 3</div>
        <div class="nav-item">Function 4</div>
    </div>
    <div class="content">
        <div class="box">Upcoming Appointments</div>
        <div class="box large">Filler content about doctors / hospital / informatics etc</div>
    </div>
</body>
</html>