@{
    Layout = null;
}

<!DOCTYPE html>

<htm lang="en">
<head>
    <title>Dr. Carina Rizzo</title>
    <link rel="stylesheet" href="~/css/DDoc.css"/>
</head>
<body>
<div class="container">
    <h1>Dr. Carina Rizzo</h1>
    <img src="~/images/DocIMG/dr.carina.jpg" class="img" width="310px" height="200px"/>
</div>

<div class="content">
    <p>

        Dr. Carina Rizzo is a board-certified dermatologist with extensive expertise in diagnosing and treating a wide range of skin conditions.
        With years of experience, Dr. Rizzo provides comprehensive care for various skin conditions, including acne, eczema, psoriasis, and skin cancer.
        She is proficient in advanced dermatological procedures such as laser treatments, chemical peels, Botox, and fillers, as well as custom skincare regimens to address aging, pigmentation, and overall skin health.

    </p>
    <p>
        Dr. Rizzo takes a patient-focused approach, tailoring each treatment to meet individual needs, ensuring optimal results with minimal downtime. Her dedication to delivering personalized, cutting-edge care makes her a trusted choice for individuals seeking effective solutions for their skin concerns.
    </p>

    <h3>Contact Details</h3>

    <p><strong>Phone:</strong> (516) 924-5643
        <br>
        <strong>Email:</strong> dr.carinar@allcaredoctors.com
        <br>
        <strong>Clinic Address:</strong> 535 Park Ave, Kearny, USA</p>
</div>

</body>
</htm>