@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Dr. Selina Siegel</title>
    <link rel="stylesheet" href="~/css/DDoc.css"/>
    
</head>
<body>
<div class="container">
    <h1>Dr. Selina Siegel</h1>
    <img src="~/images/DocIMG/dr.selina.jpg" class="img" width="310px" height="200px"/>
</div>

<div class="content">
    <p>
        Dr. Selina Siegel is a board-certified dermatologist with a comprehensive background in both medical and cosmetic dermatology. She is highly skilled in diagnosing and treating a wide variety of skin conditions, including acne, eczema, rosacea, and skin cancer.
        Dr. Siegel is also proficient in advanced cosmetic procedures, including Botox, dermal fillers, chemical peels, and laser treatments, aimed at enhancing skin appearance and addressing aging concerns.
    </p>
    <p>
        Dr. Siegel is known for her expertise and focus on patient care. She creates personalized treatment plans to meet each patient's unique needs, ensuring the best possible results for their skin health and cosmetic goals.
    </p>

    <h3>Contact Details</h3>

    <p><strong>Phone:</strong> (517) 864-8834
        <br>
        <strong>Email:</strong> dr.selinas@allcaredoctors.com
        <br>
        <strong>Clinic Address:</strong> 477 Wexford Ave, Clifton, USA</p>
</div>
</body>
</html>