

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podiatry</title>
    <link rel="stylesheet" href="~/css/Podiatry.css">
</head>
<body>
<div id="container">
    <!-- Centered Image -->
    <img src="~/images/Podiatry.jpg" class="center" width="1000" height="300" alt="Podiatry Image"/>

    <div class="centered">
        <p><strong>Podiatry is a medical specialty dedicated to diagnosing, treating, and managing conditions in the feet, ankles, and lower legs:</strong></p>
        <ul>
            <li>Arthritis of the foot and ankle</li>
            <li>Bunions</li>
            <li>Corns and calluses</li>
            <li>Flat feet</li>
        </ul>

        <p><strong>Patients should see a Podiatrist if they have persistent foot swelling or numbness, difficulty walking, or ingrown toenails.</strong></p>
        <p><strong> with diabetes may also need to see a Podiatrist for regular foot exams to prevent or treat foot complications caused by diabetes:</strong></p>
        <ul>
            <li>Reconstructive</li>
            <li>Setting fractures</li>
            <li>Prosthetics</li>
            <li>Foot surgery</li>
            <li>Amputations</li>
        </ul>
    </div>

    <!-- Doctors Section - Side by Side -->
    <div class="box">
        <div class="boxone">
            <img src="~/images/PDoc1.jpg" class="img" width="150px" height="150px" alt="Dr.Amanpreet Kaur"/>
            <hr/>
            <a href="PDoctor1.html">Dr. Amanpreet Kaur</a>
            <h3>Location: Hicksville, NY</h3>

        </div>

        <div class="boxone">
            <img src="~/images/PDoc2.jpg" class="img" width="150px" height="150px" alt="Dr.Sharon Singh"/>
            <hr/>
            <a href="PDoctor2.html">Dr. Sharon Singh</a>
            <h3>Location: Northport, NY</h3>

        </div>
    </div>
</div>
</body>
</html>
