@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor1</title>
</head>
<body>
<div class="container">
    <h1>Dr. Sharon Singh</h1>
    <img src="~/images/PDoc2.jpg" class="img" width="310px" height="200px"/>
</div>

<div class="content">
    <p>
        Dr. Sharon Singh is a board-certified podiatrist with a comprehensive background in both medical and surgical podiatry. She is highly skilled in diagnosing and treating a wide variety of foot, ankle, and lower leg conditions, including bunions, heel pain, arthritis, and diabetic foot care.
        Dr. Singh is also proficient in advanced podiatric procedures, including reconstructive foot surgery, joint replacements, laser treatments for foot issues, and custom orthotics aimed at improving mobility and overall foot health.
    </p>
    <p>
        Dr. Singh is known for her expertise and patient-centered care. She creates personalized treatment plans to meet each patient’s unique needs, ensuring the best possible outcomes for their foot and ankle health and functionality.


    </p>

    <h3>Contact Details</h3>

    <p><strong>Phone:</strong> (517) 864-8834
        <br>
        <strong>Email:</strong> dr sharonsingh@allcaredoctors.com
        <br>
        <strong>Clinic Address:</strong> 477 Wexford Ave, Clifton, USA</p>
</div>
</body>
<link rel="stylesheet" href="~/css/PDoc2.css">
</html>