@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Book Appointment</title>
    <link rel="stylesheet" href="~/css/BookApp1.css">
</head>

<body>
<div class="container">
    <h2>Book Appointment</h2>
    <div class="steps">
        <span><strong>Service</strong></span>
    </div>
    
    <p><strong>Please select service:</strong></p>
    
    <label for="treatment">Treatment</label>
    <select id="treatment">
        <option>Select treatment</option>
        <option>Internal Medicine</option>
        <option>Family Medicine</option>
        <option>Speciality</option>
        <option>Cardiology</option>
        <option>Dermatology</option>
        <option>Nutrition</option>
        <option>Podiatry</option>
        <option>Behavioral Health</option>
    </select>

    <label for="doctor">Doctor</label>
    <select id="doctor">
        <option>Dr. Paarul Nayyar</option>
        <option>Dr. Eve Smith</option>
        <option>Dr. Amanpreet Kaur</option>
        <option>Dr. Sharon Singh</option>
        <option>Dr. Justin </option>
        <option>Dr. Shalli Kaur</option>
    </select>

    <p class="policy">By submitting this form you are agreeing to our Privacy Policy.</p>
    <div class="buttons">
        <a button class="next-btn" asp-controller="SchApt" asp-action="Calender">Next</a>
    </div>
</div>
</body>
</html>
