.content{
    margin-left: 2rem;
    margin-right: 2rem;
}
h1{
    text-align: center;
    color: rgb(28, 125, 164);
    text-decoration: solid;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3%;
    border: 2px solid black;
    box-shadow: 0px 6px rgb(211, 209, 209);
}

h2{
    color: rgb(28, 125, 164);
}